// colors
$mainColor:  #000000;
$secondColor: #263238;
$accentColor: #8F95A5;
$additionalColor: #ffffff;
$thirdColor: #EEEEEE;
$transitionAnim: cubic-bezier(0.34, 0.04, 0.37, 0.73);
$transitionDuration: 250ms;