.about-us__picture {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}
.about-us__title {
  color: $mainColor;
  font-family: sans-serif, 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 3.33;
  text-align: center;
  margin-bottom: 24px;
}
.about-us__title-desktop {
  display: none;
}
.about-us__description {
  font-family: sans-serif, 'Poppins';
  color: $accentColor;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.53;
  text-align: center;
  margin-bottom: 30px;
}

.about-us__list {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.about-us__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:not(:last-child) {
    margin-bottom: 45px;
  }
  .item-title {
    color: #2a3246;
    font-family: sans-serif, 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 3.33;
    margin-bottom: 5px;
  }
  .item-description {
    color: $accentColor;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.53;
  }
}
@include device-size(phone-tablet) {
  .about-us__picture {
    width: 352px;
    height: 352px;
  }
  .about-us__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 2.66;
    margin-bottom: 24px;
  }
  .about-us__description {
    font-size: 14px;
    max-width: 510px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .about-us__list {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
  }
  .about-us__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
    .item-description {
      font-size: 14px;
    }
  }
}
@include device-size(tablet) {
  .about-us__container {
    max-width: 737px;
  }
  .about-us__title {
    text-align: left;
    margin: 0;
    line-height: 1.5;
  }

  .about-us__desktop-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 737px;
    margin: 0;
    padding: 0;
  }
  .about-us__picture {
    width: 295px;
    height: 295px;
    margin: 0;
  }
  .about-us__description-container {
    width: 352px;
    margin-top: 20px;
  }
  .about-us__description {
    text-align: left;
    width: 290px;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }
  .about-us__list {
    margin: 0;
    justify-content: space-between;
    width: 290px;
    .item-description {
      font-size: 13px;
    }
  }
}
@include device-size(tablet-desktop) {
  .about-us__container {
    max-width: 962px;
  }
  .about-us__title {
    display: none;
  }
  .about-us__title-desktop {
    display: block;
    color: $mainColor;
    font-family: sans-serif, 'Poppins';
    text-align: left;
    margin: 0 0 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 2.22;
  }

  .about-us__desktop-container {
    max-width: 962px;
  }
  .about-us__picture {
    width: 336px;
    height: 336px;
    margin-right: 0;
    margin-top: 55px;
  }
  .about-us__description-container {
    width: 460px;
    margin-top: 20px;
  }
  .about-us__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 452px;
  }
  .about-us__list {
    margin: 0;
    justify-content: space-between;
    width: 370px;
    .item-title {
      font-size: 30px;
      line-height: 2.66;
    }
    .item-description {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
    }
  }
}

@include device-size(desktop) {
  .about-us__container {
    max-width: 1170px;
  }
  .about-us__title-desktop {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.66;
  }

  .about-us__desktop-container {
    margin-top: 0;
    max-width: 1170px;
  }
  .about-us__picture {
    width: 500px;
    height: 500px;
    margin-right: 0;
    margin-top: 0px;
  }
  .about-us__description-container {
    width: 660px;
    margin-top: 20px;
  }
  .about-us__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    min-width: 569px;
    margin-bottom: 55px;
  }
  .about-us__list {
    width: 540px;
    .item-title {
      font-weight: 600;
      font-size: 48px;
      line-height: 1.66;
    }
    .item-description {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
    }
  }
}
