.pricing {
    padding-top: 84px;
    @include device-size(phone-tablet) {
        padding-top: 131px;
    }
    @include device-size(tablet-desktop) {
        padding-top: 126px;
    }
    @include device-size(desktop) {
       padding-top: 222px;     
    }
    &__list {
        margin-top: 91px;
        @include device-size(phone-tablet) {
           margin-top: 71px;
        }
        @include device-size(tablet) {
        margin-top: 40px;
        }
        @include device-size(tablet-desktop) {
        margin-top: 47px; 
        }
        @include device-size(desktop) {
         margin-top: 71px;   
        }
    }
    &__tittle {
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 3.3;
        color: #000000;
        @include device-size(phone-tablet) {
            font-size: 30px;
            line-height: 2.67;
        }
        @include device-size(tablet-desktop) {
        font-size: 34px;   
        line-height: 2.22;
        }
        @include device-size(desktop) {
         font-size: 48px;
         line-height: 1.67;   
        }
    }
    &__item {
        list-style: none;
        flex-direction: flex;
        text-align: center;
        padding: 0px;
        @include device-size(tablet) {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }
    &__icon1 {
        margin-left: auto;
        margin-right: auto;
        height: 248px;
        width: 248px;
        @include device-size(phone-tablet) {
            height: 291px;
            width: 291px;
        }
        @include device-size(tablet) {
            width: 197px;
            height: 197px; 
        }
        @include device-size(tablet-desktop) {
            width: 222px;
            height: 222px;
        }
        @include device-size(desktop) {
            width: 311px;
            height: 311px;
        }
    }
    &__icon2 {
        margin-left: auto;
        margin-right: auto;
        width: 257px;
        height: 197px;
        @include device-size(phone-tablet) {
            width: 314px;
            height: 291px;
        }
        @include device-size(tablet) {
            width: 219px;
            height: 168px;
        }
        @include device-size(tablet-desktop) {
            width: 267px;
            height: 195px;
        }
        @include device-size(desktop) {
            width: 391px;
            height: 283px;
        }
    }
    &__icon3 {
        margin-left: auto;
        margin-right: auto;
        height: 241px;
        width: 241px;
        @include device-size(phone-tablet) {
            width: 291px;
            height: 291px;
        }
        @include device-size(tablet) {
            width: 210px;
            height: 210px;   
        }
        @include device-size(tablet-desktop) {
         width: 242px;
         height: 242px;   
        }
        @include device-size(desktop) {
         width: 340px;
         height: 340px;   
        }
    }
}

.pricing-list {
    &__tittle {
        margin-top: 29px;
        color: #263238;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.56;
        @include device-size(phone-tablet) {
            font-size: 24px;
            line-height: 2.22;
        }
        @include device-size(tablet) {
            width: 164px;
            text-align: start;
            font-size: 22px;
            line-height: 1.55;
        }
        @include device-size(tablet-desktop) {
            width: 273px;
            line-height: 2.18;
        }
        @include device-size(desktop) {
            width: 372px;
            font-size: 30px;
            line-height: 1.60;  
        }
    }
    &__description {
        margin-top: 23px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
        color: #8F95A5;
        @include device-size(phone-tablet) {
            font-size: 14px;
            line-height: 1.5;
        }
        @include device-size(tablet) {
            width: 200px;
            text-align: start;
            height: 72px;
        }
        @include device-size(tablet-desktop) {
            width: 300px;
            font-size: 16px;
            line-height: 1.5;
        }
        @include device-size(desktop) {
            width: 350px;
            font-size: 20px;
            line-height: 1.5;
            height: 100px;
        }

    }
    &__price {
        margin-top: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
        height: 37px;
        background: #EEEEEE;
        border-radius: 5px;
        @include device-size(phone-tablet) {
            width: 205px;
            height: 45px;
        }
        @include device-size(tablet) {
            margin-left: 0px;
        }
        @include device-size(desktop) {
            width: 240px;   
        }
    }
    &__value {
        margin: 0px;
        flex-direction: flex;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        color: #263238; 
        @include device-size(phone-tablet) {
          font-size: 18px;
          line-height: 1.4px;  
        }
        @include device-size(tablet-desktop) {
            font-size: 24px;
            line-height: 1.5;
        }
        @include device-size(desktop) {
            font-size: 30px;
            line-height: 1.5;
        }
    }
    &__price-description {
        width: 78px;
        height: 21px;
        margin-top: 5px;
        margin-bottom: 7px;
        margin-left: 7px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5px;
        color: #546269;
        @include device-size(phone-tablet) {
            width: 89px;
            height: 24px;
            font-size: 16px;
            line-height: 1.5;
        }
        @include device-size(desktop) {
            width: 100px;
            height: 27px;
            font-size: 18px;
            line-height: 1.5;   
        }
    }
}