.pricing {
    padding-top: 84px;
    @include device-size(phone-tablet) {
        padding-top: 131px;
    }
    &__list {
        margin-top: 91px;
        @include device-size(phone-tablet) {
           margin-top: 71px;
        }
    }
    &__tittle {
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 3.3;
        color: #000000;
        @include device-size(phone-tablet) {
            font-size: 30px;
            line-height: 2.67;
        }

    }
    &__item {
        list-style: none;
        flex-direction: flex;
        text-align: center;
        padding: 0px;
        @include device-size(phone-tablet) {
        }
    }
    &__icon1 {
        margin-left: auto;
        margin-right: auto;
        height: 248px;
        width: 248px;
        @include device-size(phone-tablet) {
            height: 291px;
            width: 291px;
        }
    }
    &__icon2 {
        margin-left: auto;
        margin-right: auto;
        width: 257px;
        height: 197px;
        @include device-size(phone-tablet) {
            width: 314px;
            height: 291px;
        }
    }
    &__icon3 {
        margin-left: auto;
        margin-right: auto;
        height: 241px;
        width: 241px;
        @include device-size(phone-tablet) {
            width: 291px;
            height: 291px;
        }
    }
}

.pricing-list {
    &__tittle {
        margin-top: 29px;
        color: #263238;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.56;
        @include device-size(phone-tablet) {
            font-size: 24px;
            font-weight: 1.17;
        }
    }
    &__description {
        margin-top: 23px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        color: #8F95A5;
        @include device-size(phone-tablet) {
            font-size: 14px;
            line-height: 21px;
        }
    }
    &__price {
        margin-top: 31px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-left: auto;
        margin-right: auto;
        width: 170px;
        height: 37px;
        background: #EEEEEE;
        border-radius: 5px;
        @include device-size(phone-tablet) {
            width: 205px;
            height: 45px;
        }
    }
    &__value {
        margin: 0px;
        flex-direction: flex;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #263238; 
        @include device-size(phone-tablet) {
          font-size: 18px;
          line-height: 33px;  
        }
    }
    &__price-description {
        width: 78px;
        height: 21px;
        margin-top: 5px;
        margin-bottom: 7px;
        margin-left: 7px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #546269;
        @include device-size(phone-tablet) {
            width: 89px;
            height: 24px;
            font-size: 16px;
            line-height: 24px;
        }
    }
}