<section class="contact-us">
    <div class="container contact-us__container">  
      <div class="contact-us__div">
        <h2 class="contact-us__tittle tablet-is-hidden">Contact Us</h2> 
        <div class="contact-us__img">
          <img class="contact-us__icon" src="./images/contact-us.svg" >
        </div>
        <div class="contact-us__form-description">
        <h2 class="contact-us__tittle mobile-is-hidden">Contact Us</h2>
          <p class="contact-us__description">Discover your current English level by 
            taking our free online English test.
            Sign up to our newsletter for learning tips
            and free resource</p>
          <div class="contact-us__form" id="form">
            <input class="contact-us__form-input" type="email" placeholder="Enter Your E-mail"> <br>
            <button form="form" class="contact-us__form-button" type="submit">Subscribe</button>
           </div>
        </div>
      </div> 
    </div>
</section>