<section class="contact-us">
    <div class="container">
       
        <h2 class="contact-us__tittle">Contact Us</h2> 
        <div class="contact-us__div">
          <img class="contact-us__icon" src="./images/contact-us.svg" >
        </div>
          <p class="contact-us__description">Discover your current English level by 
            taking our free online English test.
            Sign up to our newsletter for learning tips
            and free resource</p>
          <div class="contct-us__form">
            <input class="contact-us__form-input" type="email" placeholder="Enter Your E-mail"> <br>
           <button class="contact-us__form-button" type="submit"><p class="contat-us__form-description">Subscribe</p></button>
        </div>
        
    </div>
</section>