<footer class="footer container">
    <div class="footer__page ">
        <a href="" lang="en" class="header__logo-link link">Brit<span class="header__logo-link--accent">lex</span></a>
        <ul class="footer__list list">
            <li class="footer__item">
                <a href="" class="footer__link link">Terms and Conditions</a></li>
            <li class="footer__item">
                <a href="" class="footer__link link">Privacy Policy</a></li>
            <li class="footer__item">
                <a href="" class="footer__link link">Cookie Policy</a></li>
        </ul>
    </div>
</footer>