<section class="section hero">
  <div class="container hero-container">
    <img class="hero-picture" src="./images/hero.svg" alt="hero" />
    <div class="hero__tablet-container">
      <h1 class="hero-title">Learn Any Foreign Language</h1>
      <h1 class="hero-title-br">
        Learn<br />
        Any Foreign Language
      </h1>
      <img src="./images/light-bulb-hero.svg" alt="light-bulb-hero" class="hero-after-el" />
      <p class="hero-description">
        With our teachers who write a program for each student, you will be able to make your first
        sketch after the first lesson.
      </p>
      <button class="hero-btn">Get started</button>
    </div>
  </div>
</section>
