<section class="pricing">
  <div class="container">
<h2 class="pricing__tittle">Pricing</h2>
<ul class="pricing__item">
    <li class="pricing__list">
        <img class="pricing__icon1" src="./images/pricing1.svg" width="248px" height="248px">
          <p class="pricing-list__tittle">Self-study online course</p>
          <p class="pricing-list__description">Start learning English online in live classes
            with qualified EC teachers and students 
            from all over the world.</p>
          <div class="pricing-list__price">
            <p class="pricing-list__value"> £5.99</p>
            <p class="pricing-list__price-description"> per month</p>
          </div>
    </li>
    <li class="pricing__list">
      <img class="pricing__icon2" src="./images/pricing2.svg" width="248px" height="248px">
          <p class="pricing-list__tittle">Live online classes</p>
          <p class="pricing-list__description">Interactive group classes with expert 
            teachers. Free 7-day trial</p>
          <div class="pricing-list__price">
            <p class="pricing-list__value"> £12.99</p>
            <p class="pricing-list__price-description"> per month</p>
          </div>
    </li>
    <li class="pricing__list">
      <img class="pricing__icon3" src="./images/pricing3.svg" width="248px" height="248px">
          <p class="pricing-list__tittle">Personal Tuition</p>
          <p class="pricing-list__description">Online one-to-one English tutoring – enjoy 
            our first session for only $1</p>
          <div class="pricing-list__price">
            <p class="pricing-list__value"> £20.99</p>
            <p class="pricing-list__price-description"> per month</p>
          </div>
    </li>
</ul>
</div>
</section>