<section class="pricing">
  <div class="container">
<h2 class="pricing__tittle">Pricing</h2>
<ul class="pricing__item">
    <li class="pricing__list">
        <svg class="pricing-list__icon" height="248px" width="248px">
            <use href="./images/pricing.svg#icon-pricing3"></use>
          </svg>
          <p class="pricing-list__tittle">Self-study online course</p>
          <p class="pricing-list__description">Start learning English online in live classes
            with qualified EC teachers and students 
            from all over the world.</p>
          <div class="pricing-list__price">
            <p class="pricing-list__value"> £5.99</p>
            <p class="pricing-list__price-description"> per month</p>
          </div>
    </li>
    <li class="pricing__list">
        <svg class="pricing-list__icon" height="197px" width="257px">
            <use href="./images/pricing.svg#icon-pricing2"></use>
          </svg>
          <p class="pricing-list__tittle">Live online classes</p>
          <p class="pricing-list__description">Interactive group classes with expert 
            teachers. Free 7-day trial</p>
          <div class="pricing-list__price">
            <p class="pricing-list__value"> £12.99</p>
            <p class="pricing-list__price-description"> per month</p>
          </div>
    </li>
    <li class="pricing__list">
        <svg class="pricing-list__icon" height="241px" width="241px">
            <use href="./images/pricing.svg#icon-pricing1"></use>
          </svg>
          <p class="pricing-list__tittle">Personal Tuition</p>
          <p class="pricing-list__description">Online one-to-one English tutoring – enjoy 
            our first session for only $1</p>
          <div class="pricing-list__price">
            <p class="pricing-list__value"> £20.99</p>
            <p class="pricing-list__price-description"> per month</p>
          </div>
    </li>
</ul>
</div>
</section>